<center>
<h1><%=session[:finish]%></h1>

<form action="playagain" method="post">
	<input type="submit" value="Home" style="background-color: #002063; height:80px; width:100px; color:white;">
</form>

</center>