<form method="post" action="p1move">
<center><h1>Tic Tac Toe</h1></center>
<center><img src="C:\Users\Blewis!\Documents\Mined_Minds\Code\Tic_Tac_Toe\styles\logo.png" alt="Tic Tac Toe"></center>
<center><h3>Select player types</h3></center>
<table width="100%">
	<tr>
		<th>Player 1</th>
		<th>Player 2</th>
	</tr>
	<tr>
		<th>
			<select name="player1">
				<option value="player">Player</option>
				<option value="easy">Easy</option>
				<option value="medium">Medium</option>
				<option vlaue="hard">Hard</option>
			</select>
		</th>
		<th>
			<select name="player2">
				<option value="player">Player</option>
				<option value="easy">Easy</option>
				<option value="medium">Medium</option>
				<option value="hard">Hard</option>
			</select>
		</th>
	</tr>
</table>
<center>
	<input type="submit" value="Submit">
</center></form>