<center><h1>Tic Tac Toe</h1></center>
<center><h3>Select player types</h3></center>
<table width="100%">
	<tr>
		<th>Player 1</th>
		<th>Player 2</th>
	</tr>
	<tr>
		<th>
			<select>
				<option value="player">Player</option>
				<option value="easy">Easy</option>
				<option value="medium">Medium</option>
				<option vlaue="hard">Hard</option>
			</select>
		</th>
		<th></th>
	</tr>
</table>